body {
    font-family: Arial, sans-serif;
    background-color: #f9f4f7;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #b384ff;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  #todosOsContatos, #editar-contato {
    padding: 1rem;
  }
  
  .card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    margin: 0;
    color: #6d2dd4;
  }
  
  .card p {
    margin: 0.5rem 0;
  }
  
  button {
    background-color: #b384ff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e67fe0;
  }
  
  form {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    
  }
  
  form h2 {
    color: #6d2dd4;
  }
  
  label {

    margin: auto;
    

  }
